name: Deploy to Staging

on:
  push:
    branches:
      - master  # Trigger deployment on pushes to master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Copy files to EC2
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          source: "."
          target: "/home/ec2-user/idurar-erp-crm"

      - name: Run deployment script on EC2
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ec2-user/idurar-erp-crm
            ./scripts/install_dependencies.sh
            ./scripts/build_frontend.sh
            ./scripts/start_backend.sh
